@keyframes hide {
  from {
    transform: rotateX(0);
  }

  to {
    transform: rotateX(90deg);
  }
}

@keyframes show {
  from {
    transform: rotateX(-90deg);
  }

  to {
    transform: rotateX(0deg);
  }
}

.showComponent {
  animation: show 0.2s alternate;
}

.hideComponent {
  animation: hide 0.2s both;
}

.onExitDone {
  position: absolute;
  z-index: -1;
  visibility: hidden;
}