@import 'animations.module.scss';

.wrapper {
  position: absolute;
  bottom: 20px;
  // left: 0;
  // right: 0;
  // margin: 0 auto;
  right: 5%;
  width: 400px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}

.messenger {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: rgb(135, 211, 255);

  .header {
    flex: 70px 0 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    overflow-x: auto;
    position: relative;

    &__title {
      width: 100%;
      text-align: center;
      cursor: pointer;
      font-size: 1.5rem;
      font-style: italic;
      &:hover {
        color: #01b401;
      }
    }

    .toogleChatBtn {
      width: 100%;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      border: none;
      font-style: italic;
      font-weight: 700;
      background-color: #01b401;
      color: #fff;
    }

    .link {
      cursor: pointer;
      text-align: center;
      margin-left: 10px;
      margin-top: 20px;
      padding: 2px 5px;
      border: 1px solid rgb(0, 17, 255);
      border-radius: 4px;
      &:last-child {
        margin-right: 10px;
      }
      &:hover {
        color: rgb(0, 17, 255);
      }
      &__notice {
        border-color: #c51111d8;
        box-shadow: 0 0 5px 1px #c51111d8;
      }
      &__active {
        border-color: rgb(194, 248, 255);
        box-shadow: 0 0 5px 1px rgb(28, 229, 255);
        background-color: rgb(28, 229, 255);
        color: #fff;
      }
      & div {
        min-width: 60px;
      }
    }

    &::-webkit-scrollbar {
      background-color: #01b401;
      height: 12px; /* ширина для вертикального скролла */
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ffffff69;
      border-radius: 5px;
      box-shadow: inset 1px 1px 10px #f3faf7;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #843465;
      border-radius: 5px;
    }
  }

  .body {
    flex: 0px 1 0;
    padding: 0px;
    overflow-y: auto;
    transition: 0.3s;
    position: relative;

    &_open {
      padding: 10px;
      flex: 400px 1 0;
    }

    &::-webkit-scrollbar {
      width: 12px; /* ширина для вертикального скролла */
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ffffff69;
      border-radius: 5px;
      box-shadow: inset 1px 1px 10px #f3faf7;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #843465;
      border-radius: 5px;
    }

    .message {
      &__title {
        font-style: italic;
        margin: 0 5px 5px;
        font-size: 0.9rem;
        color: rgb(255, 255, 255);
        &_right {
          text-align: right;
        }
        &_left {
          text-align: left;
        }
      }
      &__text {
        width: fit-content;
        max-width: 70%;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border-radius: 15px;
        margin-bottom: 15px;
        word-break: break-word;
        &_right {
          margin: 0 0 15px auto;
        }
        &_left {
          margin: 0 auto 15px 0;
        }
      }
    }

    @keyframes fading {
      from {
        opacity: 0.5;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes ellipsis {
      to {
        width: 20px;
      }
    }

    .typing {
      animation: fading 1s ease-in infinite alternate;
      color: fff;
      font-style: italic;
      font-size: 0.8rem;
      &::after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        animation: ellipsis steps(4, end) 900ms infinite;
        content: '\2026';
        width: 0px;
      }
    }
  }

  .footer {
    border-top: 2px solid rgb(160, 160, 160);
    flex: 0px 0 0;
    position: relative;
    transition: 0.3s;

    .textarea {
      display: block;
      height: 0;
      width: 0;
      padding: 0;
      margin: 0;
      resize: none;

      border: 0px solid rgb(255, 249, 249);
      border-radius: 4px;
      background-color: #f8f8f8;
      transition: 0s;
      &::-webkit-scrollbar {
        width: 12px; /* ширина для вертикального скролла */
      }

      &::-webkit-scrollbar-thumb {
        background-color: #87d3ffbb;
        border-radius: 5px;
        box-shadow: inset 1px 1px 10px #f3faf7;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: #843465;
        border-radius: 5px;
      }

      &:focus {
        outline: none;
        // border-radius: 4px;
        // border: 2px solid rgb(0, 0, 0);
      }
    }

    .send {
      display: none;
      position: absolute;
      top: 20%;
      right: 5%;

      height: 70px;
      width: 70px;
      border-radius: 50%;
      background-color: rgb(1, 180, 1);
      color: #fff;
      border: none;
      box-shadow: 0 0 10px #01b401;
      font-size: 1.1rem;
      &:active {
        color: #ffe600;
      }

      &:hover,
      &:focus {
        transform: scale(1.1);
        box-shadow: 0 0 3px 3px #ffe601;
      }

      &:focus {
        outline: none;
        border: none;
      }
    }

    &_open {
      flex: 120px 0 0;
      .textarea {
        width: 100%;
        height: 120px;
        padding: 5px 25% 5px 10px;
        border: 2px solid rgb(255, 249, 249);
      }
      .send {
        display: block;
      }
    }
  }
}
