@import '../../../styles/variables.scss';

.navbar {
  height: 100%;
  display: flex;
  align-items: center;

  font-size: 1.2rem;

  button {
    font-size: 1.2rem;
    color: #fff;
    background-color: transparent;
  }

  a {
    color: inherit;
  }
}

.logo {
  height: 46px;
  width: 46px;
  background: url('../../../images/logo.png') center center no-repeat;
  background-size: contain;
  border-radius: 50%;
  transition: 0.3s;
  &:hover {
    background-color: #fff;
  }
}

.dropdown {
  margin-left: auto;

  &__list {
    overflow: hidden;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #121212;

    display: flex;
    flex-direction: column;
    & > a {
      text-align: center;
      padding: 7px 15px 7px;
      &:hover {
        background-color: $btn-color-red;
      }
    }
  }
}

.link,
.button {
  height: 100%;
  display: flex;
  align-items: center;

  & > a,
  & > button {
    height: 100%;
    padding: 10px 15px 0 15px;
    border-bottom: 10px solid transparent;
    transition: 0.3s;

    display: flex;
    align-items: center;

    & > svg {
      margin-right: 10px;
      transition: 0.3s;
    }
  }

  &:hover {
    & > a,
    & > button {
      background-color: #9090902a;
      border-bottom: 10px solid $btn-color-red;
      & > svg {
        color: $btn-color-red;
      }
    }
  }
}
