.image {
  height: 200px;
  width: 300px;
}

.image-enter {
  opacity: 0;
}

.image-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.image-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}
