$transition-time: 0.2s;
$transition-function: ease-in-out;

.wrapper {
  height: 100%;
  padding-top: 1px;
  padding-bottom: 60px;
  background-color: rgb(255, 188, 188);
  button {
    margin: 10px;
  }
}

.container {
  width: 600px;
  height: 400px;
  margin: 100px auto;
}

@keyframes hide {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(90deg);
  }
}

@keyframes show {
  from {
    transform: rotateX(-90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 60%;
  &-enter {
    opacity: 0;
  }
  &-enter-active {
    opacity: 1;
    transition: 1000ms;
  }
  &-exit-active {
    opacity: 0;
    transition: 1000ms;
  }
}
