@import '../../styles/variables.scss';

.wrapper {
  margin: 50px auto;
  max-width: 900px;
  padding: 50px;
  background-color: $black-transparent-color-strong;
  border-radius: 50px;
  height: 700px;
}

.profile {
  min-height: 100%;
  color: #fff;

  &__info {
    margin-bottom: 50px;
    border-bottom: 2px solid #fff;

    .username {
      font-size: 1.3rem;
      margin-bottom: 15px;
    }
    .description {
      margin-left: 5px;
      font-style: italic;
      font-size: 1.1rem;
      margin-bottom: 15px;
    }
  }

  &__forms {
  }
}
