@import '../../styles/variables.scss';

.wrapper {
  margin: 50px 0;
  padding: 40px;
  border-top: 1px solid transparent;
  border-radius: 50px;
  min-height: 100%;

  background-color: $black-transparent-color;
  color: #fff;
}
