@import './variables.scss';

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

.app {
  height: 100vh;
  width: 100vw;
  background: #121212;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
  background-color: rgba(92, 92, 92, 0.287);
  width: $scroll-width;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(80, 80, 80, 0.678);
}

.header {
  position: fixed;
  height: $header-height;
  background-color: #121212;
  box-shadow: 0px 3px 2px 2px $special-color;
  color: $special-color;
  width: 100%;
  z-index: 999;
}

.main {
  //! border-top предотвращает схлопывание
  border-top: 1px solid transparent;
  min-height: 100%;
  background: url('../images/backgrounds/background-main.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: $header-height;
  padding-bottom: $footer-height;
  margin-right: $scroll-width;
}

.menu,
.cart,
.profile {
  border-top: 1px solid transparent;
  min-height: 100%;
  background: url('../images/backgrounds/background-menu.jpg') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: $header-height;
  padding-bottom: $footer-height;
  margin-right: $scroll-width;
}

.container {
  min-height: 100%;
  height: 100%;
  margin: 0 auto;
  margin-left: auto;
  padding: 0 20px;
  max-width: 1550px;
}

.footer {
  margin-top: -$footer-height;
  height: $footer-height;
  background-color: #121212;
  box-shadow: -4px 1px 1px 2px $special-color;
  color: $special-color;
  width: 100%;
  z-index: 999;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: baseline;

  background-color: rgba(0, 0, 0, 0.6);
}

.dropdown {
  height: 100%;
  position: relative;

  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}
