$header-height: 60px;
$footer-height: 60px;
$black-transparent-color: rgba(0, 0, 0, 0.45);
$black-transparent-color-strong: rgba(0, 0, 0, 0.7);
$special-color: #fcfbfb;
$btn-color-red: rgb(131, 58, 58);
$color-edit: rgba(0, 255, 255, 0.45);
$color-edit-hover: rgba(0, 255, 255, 0.787);
$scroll-width: 12px;

$input-color: rgba(0, 110, 255, 0.2);
$input-focus-color: rgba(0, 255, 55, 0.2);
$input-error-color: rgba(255, 0, 0, 0.2);

// $button-form: #60257c;
// $button-form-hover: #49006bfd;

$button-form: rgb(131, 58, 58);
$button-form-hover: rgb(95, 51, 51);
