@import '../../styles/variables.scss';

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.translate {
  animation: appear ease-in-out 0.5s both;
}

.products {
  margin: 50px 0;
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  gap: 20px;
}

.zeroProductsTitle {
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 3rem;
  color: #fff;
}

.addProduct {
  position: relative;
  min-height: 400px;
  min-width: 250px;
  height: 100%;
  width: 100%;
  padding: 15px;

  & > button {
    background-color: transparent;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > svg {
      z-index: 1;
      color: $color-edit;
      width: 150px;
      height: 150px;
      margin-bottom: 15px;
      transition: 0.3s;
    }
    & > div {
      color: #fff;
      font-size: 1.8rem;
      font-weight: 700;
    }
  }

  &:hover svg {
    color: $color-edit-hover;
  }
}

.product {
  background-color: $black-transparent-color;
  color: #fff;

  display: flex;
  flex-direction: column;
}

@keyframes blink {
  0% {
    box-shadow: 0px 0px 6px 3px orange;
  }
  100% {
    box-shadow: 0px 0px 0px 0px orange;
  }
}

.highlight {
  animation: blink 0.5s 0.4s ease-in infinite;
}

.rowOne {
  margin: 3px;
  height: 250px;
  perspective: 800px;
  overflow: hidden;
  &_slide {
    height: 200px;
  }
  &_menu {
    height: 250px;
  }
}

.img {
  height: 100%;
  width: 100%;
  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 60%;
  }
  .orderPrompt {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: rgba(243, 99, 99, 0.329);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__icon {
      background: url('../../images/icons/added.png') center center no-repeat;
      background-size: contain;
      height: 90px;
      width: 90px;
    }
    &__title {
      font-size: 2.2rem;
      text-align: center;
    }
  }

  .descriptionPrompt {
    cursor: pointer;
    position: absolute;
    top: 27%;
    left: 100%;
    height: 80px;
    width: 200px;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: url('../../images/icons/loupe.png') 10% center no-repeat,
      rgba(0, 110, 255, 0.719);
    background-size: 65px;

    transition: 0.3s;
  }

  .findPrompt {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 27%;
    left: -250px;
    padding: 5px 10px;

    height: 80px;
    width: 130px;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    opacity: 0.9;
    color: #fff;
    background-color: $btn-color-red;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;

    transition: 0.3s;
  }

  &:hover .findPrompt {
    left: 0;
  }
  &:hover .descriptionPrompt {
    left: 70%;
  }
}

.rowThree {
  margin: 20px 0;

  background-color: rgba(82, 82, 82, 0.239);

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .edit,
  .remove {
    margin: 10px;
    text-align: center;
    & button {
      padding: 5px 15px;
      font-size: 1.2rem;
      background-color: $color-edit;
      color: #fff;
      font-weight: 500;
      border-radius: 15px;
      text-transform: uppercase;

      transition: 0.2s;
      &:hover {
        box-shadow: 0 0 5px $color-edit-hover;
      }

      &:active {
        text-shadow: 0 0 5px #fff;
      }
    }
  }
  .edit {
    margin-bottom: 10px;
  }
  .remove {
    & button {
      background-color: rgba(255, 0, 0, 0.6);
      &:hover {
        box-shadow: 0 0 5px rgb(255, 110, 110);
      }
    }
  }
}

.title {
  flex: auto 1 0;
  margin: 15px 15px 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.rowFour {
  margin: 20px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  .price {
    padding: 5px;

    display: inline-block;

    font-size: 2rem;
    text-transform: uppercase;
    word-break: keep-all;

    vertical-align: middle;
  }
}

.orderBtn {
  padding: 5px 15px;
  margin-left: 30px;

  border-radius: 25px;
  background-color: $btn-color-red;
  color: #fff;

  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  vertical-align: middle;

  transition: 0.2s;

  &:hover {
    box-shadow: 0px 0px 5px 2px $btn-color-red;
  }

  &:active {
    transition: 0.1s;
    text-shadow: 0px 0px 5px #fff;
  }
}
