@import '../../styles/variables.scss';

.wrapper {
  margin-top: 150px;
  &__product {
    position: absolute;
    top: 50px;
    bottom: 50px;
    overflow-y: auto;
  }
}

.form {
  position: relative;
  max-width: 1200px;
  padding: 40px 50px;
  border: 5px solid rgb(116, 116, 116);
  background-color: rgba(8, 8, 8, 0.8);

  &__product {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;

    .button {
      grid-column: 1/3;
      margin-top: 30px;
      text-align: center;
    }

    .success,
    .serverError {
      grid-column: 1/3;
      justify-self: center;
      font-size: 1.5rem;
      text-align: center;
      padding: 7px 15px 10px 15px;
      border-radius: 10px;
    }

    .success {
      background-color: rgba(0, 255, 0, 0.2);
    }
    .serverError {
      background-color: rgb(185 6 6 / 40%);
    }
  }
}

.success {
  max-width: 355px;
  margin: 0px 0px 15px 10px;
  padding: 7px 15px 10px 15px;
  border-radius: 10px;
  font-size: 1.2rem;
  text-align: center;
  background-color: rgba(0, 255, 0, 0.2);
}

.exit {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  background-color: rgba(204, 11, 4, 0.5);
  color: rgb(0, 0, 0);

  font-weight: 700;
  transition: color 0.15s;
  & > span {
    font-size: 2rem;
    line-height: 1rem;
  }
  &:hover {
    color: #fff;
  }
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

h2.title {
  font-size: 2rem;
}

h3.title {
  font-size: 1.7rem;
}

.field {
  margin-left: 15px;
  margin-bottom: 20px;
  display: grid;

  grid-template-columns: 350px;

  & label {
    padding-right: 30px;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }

  & div {
    position: relative;
    & > button {
      background-color: transparent;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      & > svg {
        width: 24px;
        height: 24px;
        color: #fff;
      }
    }
  }

  & input,
  & textarea {
    width: 100%;
    padding: 5px;

    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: $input-color;
    color: #fff;

    font-size: 1.1rem;
    &::placeholder {
      font-size: 1rem;
      color: rgb(155, 155, 155);
    }

    &:focus {
      background-color: $input-focus-color;
    }

    &:disabled {
      background-color: rgba(128, 128, 128, 0.644);
    }
  }

  & textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 200px;
  }

  & select[multiple] {
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    border: none;

    & option {
      padding: 5px;
      background-color: $input-color;
      border-bottom: 1px solid #fff;

      color: #fff;

      font-size: 1.1rem;
      text-transform: lowercase;
      &:checked {
        background-color: rgba(0, 255, 255, 0.4);
      }
    }
  }

  &__file {
    margin-left: 15px;
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: 350px;

    & > input {
      position: absolute;
      z-index: -1;
      visibility: hidden;
    }

    & > button {
      height: 40px;
      margin-bottom: 10px;

      font-size: 1.2rem;

      color: #fff;
      background-color: $input-color;

      &:focus {
        background-color: $input-focus-color;
      }
    }

    & > div {
      position: relative;
      width: 100%;
      & > img {
        width: 100%;
        height: 250px;
        object-fit: cover;
      }
      & > button {
        opacity: 0;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 40px;
        height: 40px;
        background-color: rgba(204, 11, 4, 0.4);
        color: #000;
        font-weight: 700;
        transition: color 0.15s, opacity 0.2s;
        & > span {
          font-size: 2rem;
          line-height: 1rem;
        }
        &:hover {
          color: #fff;
        }
      }

      &:hover button {
        opacity: 1;
      }
    }
  }
}

.error {
  margin-top: 5px;
  line-height: 1.1;
  font-weight: 500;
  color: rgb(255, 0, 0);
}

.field__error {
  & input {
    &:focus {
      background-color: $input-error-color;
    }
    background-color: $input-error-color;
  }
}

.button {
  text-align: right;

  & button {
    padding: 5px 10px 7px;
    border-radius: 5px;
    color: #fff;
    background-color: $button-form;
    font-size: 1.1rem;

    transition: 0.3s;
    &:hover,
    &:focus {
      background-color: $button-form-hover;
    }
    &:focus {
      box-shadow: 0 0 0 1px #fff;
    }
    &:active {
      transition: 0.1s;
      text-shadow: 0px 0px 5px #fff;
      box-shadow: 0 0 0 3px $button-form;
    }
    &:disabled {
      background-color: rgba(255, 255, 255, 0.424);
    }
  }
}
